@font-face {
  font-family: cu;
  src: url('../public/cursive.ttf');
}

* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../public/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: cu;
  font-size: 0.9rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: rgb(1, 93, 168);
}

.top {
  background: none;
  height: 25vh;
}

.container {
  background-color: aliceblue;
  width: 580px;
  height: 350px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

@media (max-width: 590px){

  .container {
    width: 500px;
  }

}

@media (max-width: 510px){

  .container {
    width: 450px;
  } 
}

@media (max-width: 460px){
  .container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 410px){
  .container {
    width: 350px;
  }
}

@media (max-width: 360px){
  .container {
    width: 300px;
    height: 430px;
  }
}

@media (max-width: 300px){
    .container {
      width: 250px;
      height: 530px;
  }
}

@media (max-width: 240px){
  .container {
    width: 200px;
    height: 580px;
  }
}


@media (max-height: 600px){

  .top {
    height: 10vh;
  }
}

@media (max-height: 400px){

  .top {
    height: 5vh;
  }
}