
.me, .profilePicture {
    margin-top: 4%;
  }
  
.profilePicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 4%;
    margin-right: 5%;
}
  
  
.litleDiscrion {
    margin-top: -1%;
}
  
.profile {
    display: flex;
    font-weight: 600;
}
  
.myName {
    display: grid;
    grid-template-columns: 5px 2fr;
    gap: 15px;
}
  
.discription {
    display: grid;
    grid-template-columns: 5px 2fr;
    gap: 15px;
}
  